.typeproduct
{
    padding: 10px 10px;
}
.typeproduct img
{

  height: 220px;
  width: 200px;


}
.typeproduct h1
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

h1{
  margin-top: 108px;
}
