
<div class="container mt-5">
  <h2>Edit</h2>
  <div class="form-check form-switch">
      <label for="flexSwitchCheckDisabled" class="form-label">Offline by default</label>
      <input [(ngModel)]="display" class="form-check-input" type="checkbox" role="switch" disabled data-toggle="toggle" id="flexSwitchCheckDisabled">
  </div>
  <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input [(ngModel)]="description" type="text" class="form-control" id="description" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input [(ngModel)]="price" type="number" class="form-control" id="price">
  </div>
  <div class="mb-3">
      <label for="productTitle" class="form-label">Product Title</label>
      <input [(ngModel)]="productTitle" type="text" class="form-control" id="productTitle">
  </div>
  <div class="mb-3">
      <label for="product_image" class="form-label">Product Image</label>
      <input [(ngModel)]="product_image" type="text" class="form-control" id="product_image" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
      <label for="stockAvailability" class="form-label">Stock Availability</label>
      <input [(ngModel)]="stockAvailability" type="number" class="form-control" id="stockAvailability">
  </div>

  <!-- <div class="mb-3">
    <label for="display" class="form-label">Online/ Offline</label>
    <input [(ngModel)]="display" type="text" class="form-control" id="display">
</div> -->

  <button (click)="addNew()" class="btn btn-primary">Update</button> |
  <!-- <button (click)="delete()" class="btn btn-danger">Delete</button> | -->
  <!-- <a routerLink="/admin"> Back to Admin Panel</a> -->
  <div *ngIf="updateStatus" [style.display]="showMessage" [class.success]="updateStatus">Update successfull!
  </div>
  <div *ngIf="!updateStatus" [style.display]="showMessage" [class.error]="!updateStatus">Sorry, Something went wrong. Server responded with {{errorMessage.sqlMessage}}
  </div>
</div>

